<footer class="site-footer">
    <div class="footer-main">
      <div class="container">
        <div class="footer-content">
          
          <!-- Company Info -->
          <div class="footer-section company-info">
            <div class="footer-logo">
              <img src="/images/logo.png" alt="რიტუალ სერვისი - დამკრძალავი ბიურო">
              <h3>{{translate('header.company_name')}}</h3>
            </div>
            <p class="company-description">
              <strong>{{translate('home.funeral_home')}}</strong> {{translate('header.company_name')}} - 
              {{translate('about.20_years_experience')}} <strong>{{translate('home.ritual_house')}}</strong> 
              {{translate('locations.tbilisi_branches')}}. {{translate('seo.memorial_ceremonies')}} და 
              <strong>{{translate('seo.burial_services')}}</strong> 24/7.
            </p>
            
            <div class="footer-contact">
              <a href="tel:+995599069898" class="footer-phone">
                <i class="fa-solid fa-phone"></i>
                <span>+(995) 599 06 98 98</span>
              </a>
              <div class="footer-hours">
                <i class="fa-solid fa-clock"></i>
                <span>{{translate('footer.24_7_service')}}</span>
              </div>
            </div>
            
            <div class="footer-social">
              <a href="https://www.facebook.com/profile.php?id=100075978162042" 
                 target="_blank" 
                 rel="noopener noreferrer"
                 class="social-link facebook"
                 title="Facebook">
                <i class="fa-brands fa-square-facebook fa-2x"></i>
              </a>
              <a href="https://www.memento.ge/" 
                 target="_blank"
                 rel="noopener noreferrer" 
                 class="social-link memento"
                 title="Memento">
                <img src="/images/memento.svg" 
                     alt="Memento"
                     width="34"
                     height="34">
              </a>
            </div>
          </div>
  
          <!-- Services Links -->
          <div class="footer-section services-links">
            <h4>{{translate('footer.ritual_services')}}</h4>
            <ul>
              <li>
                <a [routerLink]="[currentLanguage, 'services', 'damkrdzalavi-biuro']">
                  <strong>{{translate('home.funeral_home')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'services', 'balzamireba']">
                  <strong>{{translate('services.embalming')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'services', 'katafalka']">
                  <strong>{{translate('services.hearse')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'services', 'gadasveneba']">
                  <strong>{{translate('services.transportation')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'services', 'qvaze-xatva']">
                  <strong>{{translate('services.stone_engraving')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'services', 'mopirketeba']">
                  <strong>{{translate('services.grave_decoration')}}</strong>
                </a>
              </li>
            </ul>
          </div>
  
          <!-- Products Links -->
          <div class="footer-section products-links">
            <h4>{{translate('footer.ritual_products')}}</h4>
            <ul>
                            <li>
                <a [routerLink]="[currentLanguage, 'products', 'sasaxleebi']">
                  <strong>{{translate('products.coffins')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'products', 'sudarebi']">
                  <strong>{{translate('products.shrouds')}}</strong>
                </a>
              </li>
              <li>
                <a [routerLink]="[currentLanguage, 'products', 'macivrеbi']">
                  <strong>{{translate('products.refrigeration')}}</strong>
                </a>
              </li>
            </ul>


          </div>
  
          <!-- Locations -->
          <div class="footer-section locations">
            <h4>{{translate('footer.branches_tbilisi')}}</h4>
            <div class="location-item">
              <h5>{{translate('footer.dighomi_branch')}}</h5>
              <p>
                <i class="fa-solid fa-location-dot"></i>
                {{translate('locations.dighomi')}}
              </p>
            </div>
            <div class="location-item">
              <h5>{{translate('footer.gldani_branch')}}</h5>
              <p>
                <i class="fa-solid fa-location-dot"></i>
                {{translate('locations.gldani')}}
              </p>
            </div>
            <div class="location-item">
              <h5>{{translate('footer.jiqia_branch')}}</h5>
              <p>
                <i class="fa-solid fa-location-dot"></i>
                {{translate('locations.jiqia')}}
              </p>
            </div>
          </div>
  
          <!-- Quick Links -->
          <div class="footer-section quick-links">
            <h4>{{translate('footer.quick_links')}}</h4>
                        <ul>
              <li><a [routerLink]="[currentLanguage]">{{translate('nav.home')}}</a></li>
              <li><a [routerLink]="[currentLanguage, 'services']">{{translate('nav.services')}}</a></li>
              <li><a [routerLink]="[currentLanguage, 'products']">{{translate('nav.products')}}</a></li>
              <li><a [routerLink]="[currentLanguage, 'about']">{{translate('nav.about')}}</a></li>
              <li><a [routerLink]="[currentLanguage, 'contact']">{{translate('nav.contact')}}</a></li>
              <li><a [routerLink]="[currentLanguage, 'locations']">{{translate('nav.locations')}}</a></li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  
    <!-- SEO Keywords Section -->
    <div class="footer-seo-section">
      <div class="container">
        <div class="seo-keywords-footer">
          <h5>{{translate('footer.search_keywords')}}</h5>
          <div class="keywords-grid">
            <div class="keywords-column">
              <h6>{{translate('footer.georgian_keywords')}}</h6>
              <p>
                <strong>დამკრძალავი ბიურო</strong>, <strong>ბალზამირება</strong>, 
                <strong>კატაფალკა</strong>, <strong>ქვაზე ხატვა</strong>, 
                <strong>გადასვენება</strong>, <strong>საფლავის მოპირკეთება</strong>, 
                <strong>მიცვალებულის ჩაცმა</strong>, <strong>სუდარა</strong>, 
                <strong>სასახლეები</strong>, <strong>მაცივრები</strong>, 
                <strong>საპანაშვიდე</strong>, <strong>სამგლოვიარო</strong>, 
                <strong>დაკრძალვა</strong>, <strong>დასაფლავება</strong>, 
                <strong>მიცვალებული</strong>, <strong>სარიტუალო სახლი</strong>
              </p>
            </div>
            
            <div class="keywords-column">
              <h6>{{translate('footer.transliteration_keywords')}}</h6>
              <p>
                <strong>damkrdzalavi biuro</strong>, <strong>balzamireba</strong>, 
                <strong>katafalka</strong>, <strong>qvaze xatva</strong>, 
                <strong>gadasveneba</strong>, <strong>mopirketeba</strong>, 
                <strong>micvalebulis chacma</strong>, <strong>sudara</strong>, 
                <strong>sasaxleebi</strong>, <strong>macivrеbi</strong>, 
                <strong>sapanashvide</strong>, <strong>samgloviaro</strong>, 
                <strong>dakrdzalva</strong>, <strong>dasaflaveba</strong>, 
                <strong>micvalebuli</strong>, <strong>saritualo saxli</strong>
              </p>
            </div>
  
            <div class="keywords-column">
              <h6>{{translate('footer.russian_keywords')}}</h6>
              <p>
                <strong>похоронный дом</strong>, <strong>бальзамирование</strong>, 
                <strong>катафалк</strong>, <strong>роспись на камне</strong>, 
                <strong>перевозка покойного</strong>, <strong>благоустройство могил</strong>, 
                <strong>одевание усопшего</strong>, <strong>саван</strong>, 
                <strong>гробы</strong>, <strong>холодильники</strong>, 
                <strong>траурный зал</strong>, <strong>траурные церемонии</strong>, 
                <strong>похороны</strong>, <strong>погребение</strong>, 
                <strong>покойный</strong>, <strong>ритуальные услуги</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="copyright">
            <p>&copy; 2025 <strong>{{translate('header.company_name')}}</strong> - {{translate('footer.all_rights_reserved')}}</p>
            <p class="seo-text">
              <strong>{{translate('home.funeral_home')}}</strong> - 
              {{translate('about.professional_team')}} <strong>{{translate('home.ritual_house')}}</strong> {{translate('locations.tbilisi_branches')}}
            </p>
          </div>
          
          <div class="footer-legal">
            <a href="/privacy-policy">{{translate('footer.privacy_policy')}}</a>
            <a href="/terms-of-service">{{translate('footer.terms_of_service')}}</a>
            <a href="/sitemap">{{translate('footer.sitemap')}}</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Hidden SEO Content -->
    <div class="seo-hidden-content" aria-hidden="true">
      <h3>რიტუალ სერვისი - დამკრძალავი ბიურო თბილისში</h3>
      <p>
        სრული სარიტუალო მომსახურება: ბალზამირება, კატაფალკა, ქვაზე ხატვა, გადასვენება, 
        საფლავის მოპირკეთება, მიცვალებულის ჩაცმა, საპანაშვიდე დარბაზი, 
        ფერადი სურათის დამზადება, ლითონის ასოებით წარწერა
      </p>
      <ul>
        <li>damkrdzalavi biuro - პროფესიონალური დამკრძალავი ბიურო</li>
        <li>balzamireba - ბალზამირება გამოცდილი სპეციალისტების მიერ</li>
        <li>katafalka - კატაფალკა 24/7 მომსახურება</li>
        <li>qvaze xatva - ქვაზე ხატვა ხელოვნური მუშაობა</li>
        <li>gadasveneba - გადასვენება რაიონში და საზღვარგარეთ</li>
        <li>mopirketeba - საფლავის მოპირკეთება კომპლექსური</li>
        <li>micvalebuli - მიცვალებული ღირსეული მომზადება</li>
        <li>sudara - სუდარა ხარისხიანი მასალებით</li>
        <li>sasaxleebi - სასახლეები ყველა სტილში</li>
        <li>samgloviaro - სამგლოვიარო ცერემონიები</li>
        <li>dakrdzalva - დაკრძალვა პროფესიონალურად</li>
        <li>sapanashvide - საპანაშვიდე დარბაზი</li>
      </ul>
    </div>
  </footer>