<section class="contact-cta">
  <div class="container">
    <p>{{translate('funeral_planning.cta_description')}}</p>
    <div class="cta-buttons">
      <a class="btn btn-primary" (click)="callPhone()">
        <i class="fa-solid fa-phone-volume"></i> {{translate('header.phone')}}
      </a>
      <a [routerLink]="getFuneralPlanningLink()" class="btn btn-secondary">
        <i class="fa-solid fa-calendar-check"></i> {{translate('funeral_planning.plan_funeral')}}
      </a>
    </div>
  </div>
</section> 