<nav class="breadcrumb" aria-label="Breadcrumb">
  <div class="breadcrumb-container">
    <div class="breadcrumb-content">
      <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
          <a class="breadcrumb-link breadcrumb-home" 
             [routerLink]="getHomeLink()"
             [class.disabled]="isHomePage()"
             (click)="onHomeClick($event)">
            <i class="fa-solid fa-home"></i>
            <span class="breadcrumb-text-full">{{translate('nav.home')}}</span>
            <span class="breadcrumb-text-short">{{translate('nav.home_short')}}</span>
          </a>
        </li>
        <li class="breadcrumb-item" *ngFor="let crumb of breadcrumbs; let last = last">
          <span class="breadcrumb-separator" aria-hidden="true">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
          <a *ngIf="!last" 
             class="breadcrumb-link" 
             [routerLink]="crumb.url"
             [attr.aria-label]="'Navigate to ' + crumb.label">
            {{crumb.label}}
          </a>
          <span *ngIf="last" 
                class="breadcrumb-current"
                [attr.aria-current]="'page'">
            {{crumb.label}}
          </span>
        </li>
      </ol>
      
      <!-- Social Links -->
      <div class="breadcrumb-social">
        <a href="https://www.facebook.com/profile.php?id=100075978162042" 
           target="_blank" 
           rel="noopener noreferrer"
           class="social-link facebook"
           title="Facebook">
          <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="https://www.memento.ge/" 
           target="_blank"
           rel="noopener noreferrer" 
           class="social-link memento"
           title="Memento">
          <img src="/images/memento.svg" 
               alt="Memento"
               width="34"
               height="34">
        </a>
      </div>

    </div>
  </div>
</nav>
